body {
	margin: 0%;
	background-color: #ffffff;
}

.link-border-dotted {
    border-bottom: dotted 1px;
}

.navbar-brand {
	font-variant: small-caps;
	font-family: 'Roboto';
	/*color: #ff6f25 !important;*/
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: #f0f1f1 !important;
}

.btn {
	color: #ff6f25;
	border-color: #ff6f25;
}

.btn-outline-success:hover {
	color: #fff;
	background-color: #ff6f25;
	border-color: #ff6f25;
}

.footer-txt {
	font-variant: small-caps;
	font-family: 'Roboto';
}

a:link, a:visited, .leaflet-container a, .leaflet-container a:visited, .btn-link, .page-link {
	text-decoration: none;
	color: #e73e01;
}
a:hover, a:active, .leaflet-container a:hover, ul.nav, .leaflet-container a:active, .btn-link:hover {
	text-decoration: none;
	color: #e73e01;
	text-decoration: underline;
}

.page-link:hover {
	/*color: #fff;*/
	/*color: #4B4B4B;*/
	color: #ff6f25;
	background-color: #6c757d;
	border-color: #6c757d;
}

#intro {
	background-color: rgba(255, 111, 37);
	color: #f8f9fa;
}
#intro > div {
	margin: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 111, 37, 0.9);
	font-size: large;
}

#intro a, #intro a:link, #intro a:visited {
	color: #e73e01;
}

#intro a:hover, #intro a:active {
	color: #e73e01 !important;
}

#intro-light a, #intro-light a:link, #intro-light a:visited {
	color: #e73e01;
}

#intro-light a:hover, #intro-light a:active {
	color: #e73e01 !important;
}

#my-map{
	width:100%;
	height:50vh;
	margin-top: 0px;
	margin-bottom: 0px;
}

#main-div{
	margin-top: 20px;
	margin-bottom: 50px;
	flex: 1;
}

#main-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#title {
	margin-top: 20px;
	margin-bottom: 50px;
}

/* Bootstrap doesn't have this class Oo */
div.text-justify {
	text-align: justify;
}

/* Scroll the figure instead of the whole page on small viewports by setting max-width and overflow */
figure {
	max-width: 100%;
	overflow: scroll;
	color: #6c757d;
	background-color: rgb(248, 249, 250);
}

footer > .container {
	border-top: 1px solid #6c757d;
	padding-top: 20px;
}

/* Nice footer images */
footer a img {
	/*max-height: 50px;*/
	filter: grayscale(100%);
	transition: all 0.2s ease;
}

footer a:hover img {
	filter: grayscale(0);
}

.leaflet-marker-icon.marker-cluster, .leaflet-marker-icon {
	filter: grayscale(100%);
	transition: all 0.2s ease;
}

.leaflet-marker-icon.marker-cluster:hover, .leaflet-marker-icon:hover {
	filter: grayscale(0);
}

.marker-cluster-small {
	background-color: rgba(255, 111, 37, 0.6) !important;
}

.marker-cluster-small div {
	background-color: rgba(255, 111, 37, 0.6) !important;
}

/* Mimic Bootstrap's table-sm style */
.table-xs > :not(caption) > * > * {
	padding-top: 0rem;
	padding-bottom: 0rem;
}

/* Hack to have inline links in navbars with same appearance than navlinks (used for monographies footer) */
.nav-link.inline {
	display: inline;
	text-decoration: underline dotted;
}
.nav-fill .nav-item .nav-link.inline, .nav-justified .nav-item .nav-link.inline {
	width: auto;
}
.navbar-expand-lg .navbar-nav .nav-link.inline {
	padding-left: 0;
	padding-right: 0;
}

/* Force Leaflet to use our font */
.leaflet-container {
	font-family: 'Open Sans' !important;
}

/* Fix scrolling with fixed headers.
   This is adjusted by JavaScript to use exactly the height of the header
*/
html {
	scroll-behavior: smooth;
	scroll-padding-top: 60px;
}
