.margin-page{
	padding: 0 5em 0 5em;
}

.header-navbar{
	background-color: #ffffff;
}

.nav-link:visited, .nav-link:active, a:link, a:active, a:visited{
	color: #e73e01;
}

.nav-link:hover, a:hover{
	color: #e73e01;
	text-decoration: underline;
}

.nav-item{
	color: #e73e01;
}

.josefin-semibold-lightita {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300; /* Semi-bold */
	font-style: italic;
	font-size: 1.75vw;
    max-width: 95%; /* Limit text width to avoid overflow */
    white-space: nowrap; /* Prevent text from breaking into multiple lines */
}


/* Set the image-container as a relative positioned element */
.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto; /* Définir une hauteur fixe */
    overflow: hidden;
}

/* Style the image */
.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

/* Style the overlay-text */
.overlay-text {
    position: absolute;
    top: 50%; /* Vertically center the text */
    left: 50%; /* Horizontally center the text */
    transform: translate(-50%, -50%); /* Center the text precisely */
    color: #ffffff; /* Text color */
    padding: 10px 20px; /* Padding around the text */
    text-align: center; /* Center text horizontally */
    text-transform: uppercase;
    text-shadow: 5px 10px rgba(231, 62, 1, 0.5); /* Adjust opacity here */
}

.josefin-semibold-ita {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600; /* Semi-bold */
    font-style: italic;
    font-size: 6vw; /* Responsive font size based on viewport width */
    max-width: 95%; /* Limit text width to avoid overflow */
    white-space: nowrap; /* Prevent text from breaking into multiple lines */
}

.josefin-sans-text {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-size: 16pt;
  color: #303030;
}


.josefin-semibold-footer {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600; /* Semi-bold */
    font-style: italic;
    font-size: 18pt; /* Responsive font size based on viewport width */
    max-width: 95%; /* Limit text width to avoid overflow */
    white-space: nowrap; /* Prevent text from breaking into multiple lines */
    text-transform: uppercase;
    color: #e73e01;
}

@media (max-width: 768px) {
    .josefin-semibold-ita {
        font-size: 8vw; /* Adjust the font size for tablets and small screens */
    }
    .josefin-semibold-lightita{
        font-size: 0.25vw;
    }
    .margin-page{
    	padding: 0 3% 0 3%;
    }
}

@media (max-width: 480px) {
    .josefin-semibold-ita {
        font-size: 3vw; /* Further adjustment for very small screens */
    }
    .josefin-semibold-lightita{
        font-size: 0.25vw;
    }
    .margin-page{
    	padding: 0 3% 0 3%;
    }
}

.josefin-slab-thin {
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #303030;
  font-size: 18pt;
}


