{% extends "conteneur.html" %}
{% block corps %}

<h2 style="color: #e73e01;">Présentation</h2>

<p><em>Les Ouvriers des deux mondes</em> est une collection de monographies publiée sous l'égide de Frédéric Le Play (†1882) et de la Société internationale des études pratiques d'économie sociale, avec pour sous-titre <em>études sur les travaux, la vie domestique et la condition morale des populations ouvrières des diverses contrées et sur les rapports qui les unissent aux autres classes</em>.</p>

<p>Les monographies ont été rassemblées en trois séries de treize volumes de 1857 à 1913, deux fascicules supplémentaires paraissant en 1930.</p>

<hr>

<h2 style="color: #e73e01;">Le projet numérique</h2>

<p>Le programme de recherche Time us, financé par l'Agence nationale de la recherche de 2016 à 2021, s'est donné pour objectif de &laquo; reconstituer les rémunérations et les budgets temps des femmes et des hommes travaillant dans le textile pour quatre régions industrielles françaises (Lille, Paris, Lyon, Marseille) dans une perspective européenne et de longue durée, en réunissant en une seule équipe pluridisciplinaire des historiens des techniques, de l’économie et du travail, des spécialistes dans le traitement automatique des langues (TAL) et des sociologues spécialistes des monographies de famille &raquo;. Son équipe est composée de chercheur-euse-s et d'ingénieur-e-s issu-e-s de sept laboratoires : <a href="larhra.ish-lyon.cnrs.fr" target="_blank">le Laboratoire de recherches historiques Rhöne-Alpes (LARHRA-UMR 5190)</a>,  <a href="https://telemme.mmsh.fr/" target="_blank">Temps, Espaces, Langages, Europe méridionale-Méditerranée</a> (TELEMME-UMR 7303),  l'<a href="https://irhis.univ-lille.fr/" target="_blank">Institut de Recherches Historiques du Septentrion</a> (IRHIS-UMR 8259), le <a href="https://www.cmh.ens.fr/" target="_blank">Centre Maurice Halbwachs</a> (CMH-UMR 8097), le <a href="http://crh.ehess.fr/" target="_blank">Centre de recherches historiques</a> (CRH-UMR 8558), l'équipe-projet <em><a href="http://almanach.inria.fr/" target="_blank">Automatic Language Modelling and Analysis & Computational Humanities</a></em> (ALMAnaCH-Inria) et le <a href="https://ict.u-paris.fr/" target="_blank">Laboratoire Identités, Cultures, Territoires</a> (LICT).</p>

<p>Parmi ses nombreux corpus d'étude se trouve <em>Les ouvriers des deux mondes</em>. Au commencement du projet, les monographies étaient déjà disponibles sous forme numériques sur <a href="https://gallica.bnf.fr/ark:/12148/cb32830863r" target="_blank">Gallica</a> et <a href="https://archive.org/search.php?query=Les+ouvriers+des+deux+mondes" target="_blank">Internet Archives</a>. Ces numérisations ont constitué le point de départ de trois réalisations scientifiques : l'acquisition (OCR) et la structuration automatisées des textes au format XML et au standard TEI, le traitement automatique des langues (TAL/NLP) et l'édition électronique des textes.</p>

<p>La phase d'OCR et de structuration automatique a été réalisée en 2019 par l'application LSE-OD2M, développée par Alix Chagué, ingénieure de recherche et de développement de l'équipe-projet ALMAnaCH d'Inria. L'application prenait comme données d'entrées les images d'Internet Archives, réalisait l'OCR grâce au système Kraken de Benjamin Kiessling (Université PSL/EPHE), puis détectait les monographies et leurs structures logiques afin de produire des documents XML structurés autour de ces grandes divisions. Les treize fichiers XML ainsi obtenus, correspondant aux treize volumes numérisés sur Internet Archives, ont ensuite été scindés en autant de fichiers qu'il y avait de monographie. Cette chaîne de traitement a ensuite été réutilisée par Jean-Damien Généro pour l'acquisition des monographies n°109 à 112 et  n°109<sup>bis</sup> et 111<sup>bis</sup>, qui étaient en ligne uniquement sur Gallica.</p>

<p>La phase de traitement automatique du langage a été réalisée par Éric Villemonte de la Clergerie, chargé de recherche d'Inria (ALMAnaCH), avec les textes des <i>Ouvriers des deux mondes</i> mélangés à ceux d'autres corpus du programme Time Us.</p>

<p>L'édition électronique a nécessité d'enrichir l'encodage minimal des fichiers XML et de les doter d'un véritable encodage scientifique de 2020 à 2021. Plusieurs points ont retenu l'attention de l'équipe : une signalisation optimale de la structure logique des monographies, des notes de bas de page et des figures (tableaux, cartes, photographies), le repérage des enquêteurs (les monographes) et des enquêtés (les ouvriers et leurs familles), la conservation du lien entre les images originelles et les textes. Réalisé par Jean-Damien Généro (École nationales des chartes, puis Centre Maurice Halbwachs, puis Centre de recherches historiques), cet encodage a été matérialisé à partir de janvier 2021 par un prototype de plateforme de publication numérique sous la forme d'une application Python/Flask, qui permettait d'afficher les textes grâce à une feuille de transformation XSL dynamique. Une nouvelle phase d'encodage a permis l'ajout d'une fonctionnalité de recherche au sein de trois paragraphes de la structure logique (Propriétés de l'ouvrier, Travaux et industries, Habitation, mobilier et vêtements).</p>

<p>Le site ouvriersdeuxmondes.huma-num.fr a été développé par la société <a href="https://oslandia.com">Oslandia</a> à partir du prototype de  Jean-Damien Généro. Il présente les textes résultant de l'OCR et de l'encodage scientifique, avec une carte, des  index et des fonctionnalités de recherche.</p>

<hr>

<h2 style="color: #e73e01;">Crédits</h2>

<ul>
      <li>Direction du projet : Centre de recherches historiques (UMR 8558).</li>
      <li>Direction scientifique : Anne Lhuissier, directrice de recherche à l'INRAE, et Stéphane Baciocchi, ingénieur de recherche à l'EHESS.</li>
      <li>Direction technique : Jean-Damien Généro, ingénieur d'études au CNRS.</li>
      <li>Acquisition des textes (OCR) et encodage intial des fichiers XML : Alix Chagué (Inria).</li>
      <li>Encodage scientifique des fichiers XML : Jean-Damien Généro (CNRS).</li>
      <li>Conception et développement du site internet : Jean-Damien Généro (CNRS) et Thomas Muguet (Oslandia).</li>
      <li>Maquette graphique du site internet : Hugo Chièze (EHESS)</li>
      <li>Financement : programme ANR Time Us (ANR-16-CE26-0018).</li>
      <li>Partenaires : Centre Maurice Halbwachs (UMR 8097) et ALMAnaCH (Inria).</li>
      <li>Hébergement : IR* Huma-Num.</li>
      <li>Instances Git : <a href="https://gitlab.inria.fr/almanach/time-us/corpus-od2m" target="_blank">GitLab Inria</a> <i>(non-maintenue depuis septembre 2021)</i>, <a href="https://github.com/jeandamien-genero/app-ouvriers-deux-mondes" target="_blank">GitHub</a> <i>(non-maintenue depuis octobre 2021)</i>, <a href="https://gitlab.huma-num.fr/crh/ouvriers-des-deux-mondes" target="_blank">GitLab CNRS (Huma-Num)</a> <i>(current)</i>.</li>
      <li>Dépôt des données: <a href="https://nakala.fr/collection/10.34847/nkl.d3b3een3" title="Dépôt Nakala" target="_blank">10.34847/nkl.d3b3een3</a></li>
</ul>

<p>L'utilisation, le partage et l’adaptation du contenu sont autorisés selon les termes de la <a       href="https://www.etalab.gouv.fr/licence-ouverte-open-licence" title="Consulter la licence ouverte ETALAB 2"       target="_blank">Licence Ouverte V 2.0</a> (équivalente à une licence CC-BY 4.0).</p>
{% endblock %}