{% extends "conteneur.html" %}
{% block corps %}
<div>
    <p style="text-align: justify;">
        La collection des <i>Ouvriers des deux mondes</i> est produite par 94 individus, dont 3 femmes (Marie Louise Bérot-Berger, Fernande Lebrun et Marie Pasolini). Tous n'ont pas le même statut : certains sont enquêteurs et auteurs à part entière, d'autres collaborent pour une section de la monographie ou sont les informateurs de l'enquêteur.
    </p>
    <p style="text-align: justify;">
        Le tableau présente l'ensemble de ces individus, avec les qualités qu'ils indiquent dans les titres des monographies, leurs dates de vie et de mort lorsqu'elles sont connues et des liens vers des bases d'autorité. Ces liens inscrivent la participation d'un individu à la collection des <i>Ouvriers des deux mondes</i> dans une perspective globale sur son activité éditoriale, avec la liste des titres qu'il a publié ou auxquels il a participé, la liste des thèmes de ses ouvrages et la liste de ses co-auteurs. Les bases d'autorité sont celles de la Bibliothèque nationale de France (BNF), de la <i>Deutsche Nationalbibliothek</i> (DNB), des identifiants et référentiels pour l'enseignement supérieur et la recherche français (IdRef), de l'<i>International Standard Name Identifier</i> (ISNI), de la <i>Library of Congress</i> (LC), de <i>KB, nationale bibliotheek</i> (NTA), du <i>Virtual International Authority File</i> (VIAF) et de Wikidata ; la page de l'auteur sur l'encyclopédie Wikipédia est également référencée lorsqu'elle existe.
    </p>
    <p style="text-align: justify; margin: 0 0 2.5em 0;">
        Le tableau indique également les monographies auxquelles l'auteur a participé. Cliquez sur le titre d'une monographie pour accéder à sa numérisation. Une recherche est possible dans le tableau et chaque colonne peut être triée.
    </p>
</div>
<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Enquêteurs</th>
            <th>Dates</th>
            <th>Qualité</th>
            <th>Identifiants</th>
            <th>Monographies</th>
        </tr>
    </thead>
    <tbody>
        {% for author in authors %}
        <tr>
            <td>{{ author.lastname }} ({{ author.firstname }})</td>
            <td>
                {% if author.date_birth and author.date_death %}<center>{{ author.date_birth }}-{{ author.date_death }}</center>

                {% elif author.date_birth and not author.date_death %}<center>{{ author.date_birth }}-</center>

                {% elif not author.date_birth and author.date_death %}<center>†{{ author.date_death }}</center>
                {% else %}<center>-</center>{% endif %}
            </td>
            <td>{% if author.quality %}{{ author.quality }}{% else %}<center>-</center>{% endif %}</td>
            <td><ul class="list-unstyled">
                {% if author.id_bnf %}<li><a href="https://data.bnf.fr/{{ author.id_bnf }}">BNF</a></li>{% endif %}
                {% if author.id_dnb %}<li><a href="https://portal.dnb.de/opac.htm?method=simpleSearch&cqlMode=true&query=nid%3D{{ author.id_dnb }}">DNB</a></li>{% endif %}
                {% if author.id_idref %}<li><a href="https://www.idref.fr/{{ author.id_idref }}">IdRef</a></li>{% endif %}
                {% if author.id_isni %}<li><a href="https://isni.org/isni/{{ author.id_isni }}/">ISNI</a></li>{% endif %}
                {% if author.id_lc %}<li><a href="http://id.loc.gov/authorities/names/{{ author.id_lc }}.html">LC</a></li>{% endif %}
                {% if author.id_nta %}<li><a href="http://data.bibliotheken.nl/doc/thes/p{{ author.id_nta }}">NTA</a></li>{% endif %}
                {% if author.id_viaf %}<li><a href="http://viaf.org/viaf/{{ author.id_viaf }}/">VIAF</a></li>{% endif %}
                {% if author.id_wikipedia %}<li><a href="https://fr.wikipedia.org/wiki/{{ author.id_wikipedia }}">Wikipedia</a></li>{% endif %}
                {% if author.id_wikidata %}<li><a href="https://www.wikidata.org/wiki/{{ author.id_wikidata }}">Wikidata</a></li>{% endif %}
            </ul></td>
            <td><ul class="list-unstyled">
                {% for mono in author.monographies %}
                <li><a href="{{ url_for('main.txt_mono', slug=mono.slug) }}">N°{{ mono.public_id }} - {{ mono.title }}</a></li>
                {% endfor %}
            </ul></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready( function () {
        $('#myTable').DataTable({
            paging: false,
            responsive: true,
            select: true
        });
    } );</script>
{% endblock %}