{% extends "conteneur.html" %}
{% block corps %}

<p class="lead">Le travail sur le site et le corpus est toujours en cours. Pour toute remarque, suggestion ou demande d'informations complémentaires, vous pouvez contacter l'équipe scientifique et technique à cette adresse :</p>

<p class="lead" style='text-align: center; font-weight: bold;'>gestion.sourcesetdonnees [at] ehess.fr</p>

<p style="font-style: italic;">En contactant l'équipe du site Ouvriers des deux mondes, vous consentez au traitement des données que vous transmeterez dans votre mail. La Règlementation générale sur la protection des données (RGPD) vous permet d'exercer vos droits d'accès, de rectification, de modification ou de suppression de vos données personnelles par simple demande à dpo [at] ehess [.] fr. Pour plus d'information, <a href="{{ url_for('main.terms') }}" title="Mentions légales de ce site">consultez les mentions légales</a>.</p>

{% endblock %}