<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>
			{% if title %}{{ title }} - {% endif %}
		    Ouvriers des deux mondes
		</title>
		<meta name="author" content="CNRS Centre de recherches historiques">
		<meta name="application-name" content="Les Ouvriers des deux mondes">
		{% include "partials.html" %}
		{% block head %}{% endblock %}
		<!-- Matomo -->
		<script>
  			var _paq = window._paq = window._paq || [];
  			/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  			_paq.push(['trackPageView']);
  			_paq.push(['enableLinkTracking']);
  			(function() {
    			var u="https://analyseweb.huma-num.fr/";
    			_paq.push(['setTrackerUrl', u+'piwik.php']);
    			_paq.push(['setSiteId', '455']);
    			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    			g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  			})();
		</script>
		<!-- End Matomo Code -->
	</head>
	<body>
		<div>
			<div>
        <div class="image-container">
            <a href="{{ url_for('main.home') }}">
                <img src="{{ url_for('static', filename='img/oddm_banniere.jpg') }}" alt="image"/>
                <div class="overlay-text josefin-semibold-ita">
                    <p>Ouvriers des</p>
                    <p>deux mondes</p>
                </div>
            </a>
        </div>
        <header class="sticky-top header-navbar">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Basculer la navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-transform: uppercase;">
                <ul class="navbar-nav mx-auto justify-content-center mb-2 mb-lg-0">
                    <li class="nav-item josefin-semibold-lightita"><a class="nav-link" href="{{ url_for('main.home') }}" title="Accueil">Accueil</a></li>
                    <li class="nav-item nav-link josefin-semibold-lightita">/</li>
                    <li class="nav-item josefin-semibold-lightita"><a class="nav-link" href="{{ url_for('main.about') }}" title="À propos de ce site">Présentation</a></li>
                    <li class="nav-item nav-link josefin-semibold-lightita">/</li>
                    <li class="nav-item josefin-semibold-lightita"><a class="nav-link" href="{{ url_for('main.monographies') }}" title="Liste des monographies">Enquêtes</a></li>
                    <li class="nav-item nav-link josefin-semibold-lightita">/</li>
                    <li class="nav-item josefin-semibold-lightita"><a class="nav-link" href="{{ url_for('main.authors') }}" title="Liste des enquêteurs">Enquêteurs</a></li>
                    <li class="nav-item nav-link josefin-semibold-lightita">/</li>
                    <li class="nav-item josefin-semibold-lightita"><a class="nav-link" href="{{ url_for('main.workers') }}" title="Liste des ouvriers">Enquêtés</a></li>
                    <li class="nav-item nav-link josefin-semibold-lightita">/</li>
                    <li class="nav-item josefin-semibold-lightita"><a class="nav-link" href="{{ url_for('main.search') }}" title="Rechercher dans les descriptions">Recherche</a></li>
                </ul>
                <!--<form class="d-flex" action="{{ url_for('main.searchfts') }}" method="GET">
                    <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Rechercher" name="term">
                    <button class="btn btn-outline-success" type="submit" title="Recherche dans toutes les monographies">Rechercher</button>
                </form>-->
            </div>
        </div>
    </nav>
</header>

		<div class="container{% if fluid %}-fluid mt-0 mb-0{% endif %} text-justify josefin-sans-text" id="main-div">
			{% block corps %}{% endblock %}
		</div>
		<footer class="footer text-center text-lg-start"  style="border-top: 1px solid #303030;  margin: 1em auto 0 auto; width: 100%;">
            <section class="" style="padding: 1%;">
                <div class="container text-center text-md-start mt-5 josefin-sans-text">
                    <div class="row">
                        <div class="col mx-auto mb-4">
                            <h6 class="josefin-semibold-footer">Ouvriers des deux mondes</h6>
                            <p>Édition numérique de la collection <em>Les Ouvriers des deux mondes</em>.</p>
                            <p style="font-size: 12pt;">Application développée par le <a href="http://crh.ehess.fr/" title="Centre de recherches historiques" style="color: inherit !important;">Centre de recherches historiques</a>, avec le soutien de l'<a href="https://anr.fr/" title="Agence nationale de la recherche" style="color: inherit !important;">Agence nationale de la recherche</a>, d'<a href="https://almanach.inria.fr/" title="ALMAnaCH" style="color: inherit !important;">ALMAnaCH</a> et du <a href="https://www.cmh.ens.fr/" title="Centre Maurice Halbwachs" style="color: inherit !important;">Centre Maurice Halbwachs</a>. Dépôt des données: <a href="https://nakala.fr/collection/10.34847/nkl.d3b3een3" title="Dépôt Nakala" style="color: inherit !important;" target="_blank">10.34847/nkl.d3b3een3</a>.</p>
                            <p style="font-size: 10pt;">
                                <span class="link-border-dotted"> <a href="{{ url_for('main.about') }}" title="À propos de ce site">À propos</a> </span> / <span class="link-border-dotted">
                                <a href="{{ url_for('main.terms') }}" title="Mentions légales de ce site">Mentions légales</a>
                                </span> / <span class="link-border-dotted">
                                <a href="{{ url_for('main.contact') }}" title="Contacter les auteurs du site">Contact</a>
                                </span> / <span class="link-border-dotted">
                                <a href="https://www.huma-num.fr/" title="Huma-Num">IR* Huma-Num</a>
                                </span> / <span class="link-border-dotted"><a href="https://www.etalab.gouv.fr/licence-ouverte-open-licence" target="_blank" title="Licence ouverte ETALAB 2.0">Licence Etalab 2.0</a></span>
                            </p>
                        </div>
                        <div class="col d-flex align-items-center">
                            <div class="container text-center">
                                <div class="row">
                                    <div class="col" style="margin: auto;">
                                        <a href="https://anr.fr/fr/investissements-davenir/les-investissements-davenir/" target="_blank" title="ANR Investissements d'avenir">
                                        	<img style="width: 40%; height: auto;" src="{{ url_for('static', filename='img/investir_avenir.png') }}" alt="ANR Investissements d'avenir"/>
                                        </a>
                                    </div>
                                    <div class="col" style="margin: auto;">
                                        <a href="https://www.cnrs.fr/" target="_blank" title="CNRS">
                                        	<img src="{{ url_for('static', filename='img/cnrs-logo.png') }}" alt="CNRS" width="42%" height="auto" />
                                        </a>
                                    </div>
                                    <div class="col" style="margin: auto;">
                                        <a href="https://www.ehess.fr/" target="_blank" title="EHESS">
                                        	<img src="{{ url_for('static', filename='img/ehess-logo.png') }}" alt="EHESS"/>
                                        </a>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 3%; margin: auto;">
                                    <div class="col" style="margin: auto;">
                                        <a href="https://www.inria.fr/" target="_blank" title="INRIA">
                                        	<img style="width: 50%; height: auto;" src="{{ url_for('static', filename='img/inria-logo.png') }}" alt="INRIA"/>
                                        </a>
                                    </div>
                                    <div class="col" style="padding-top: 3%; margin: auto;">
                                        <a href="https://www.inrae.fr/" target="_blank" title="INRAE">
                                        	<img style="width: 50%; height: auto;" src="{{ url_for('static', filename='img/inrae-logo.png') }}" alt="INRAE"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
		</div>
	</body>
</html>
