{% extends "conteneur.html" %}
{% block corps %}
<div>
    <p style="text-align: justify;">
        Le catalogage de la collection des <i>Ouvriers des deux mondes</i>  a recensé 131 monographies, dont 129 monographies de famille (n<sup>os</sup>1 à 114, avec 15 numéros <i>bis</i> et <i>ter</i>) et 2 monographies d'atelier (n<sup>os</sup>A et B). Toutes sont consultables ci-dessous, à l'exception de la monographie n<sup>o</sup>114, <i>Employé aux chemins de fer français à Bois-Colombes (Seine)</i>, de Paul Durand.
    </p>
    <p style="text-align: justify;">
        Cliquez sur le titre d'une monographie pour accéder à sa numérisation. Les colonnes &#171;&#8239;Enquêtes&#8239;&#187;, &#171;&#8239;Fascicule&#8239;&#187; et &#171;&#8239;Livre&#8239;&#187; contiennent respectivement les dates indiquées par l'auteur pour son enquête dans le titre de la monographie, la date de parution en fascicule et la date de clôture du volume en vue d'être relié. Les volumes 2 à 3 de la première série (1858-1862) paraissent directement en volumes reliés. Une recherche est possible dans le tableau et chaque colonne peut être triée.
    </p>
    <p style="text-align: justify;">
        Les images et les fichiers (XML, TEX, PDF) des monographies sont consultables et téléchargeables dans un entrepôt des données de la recherche: <a href="https://nakala.fr/collection/10.34847/nkl.d3b3een3" target="_blank">10.34847/nkl.d3b3een3</a>.
    </p>
</div>
<table id="myTable" class="display">
    <thead>
        <tr>
            <th>N°</th>
            <th>Titre</th>
            <th>Enquête</th>
            <th>Fascicule</th>
            <th>Livre</th>
            <th>Données</th>
        </tr>
    </thead>
    <tbody>
        {% for mono in corpus %}
        <tr>
            <td>{{ mono.public_id }}</td>
            <td><a href="{{ url_for('main.txt_mono', slug=mono.slug) }}">{{ mono.title }}</a></td>
            <td>{{ mono.survey_year }}</td>
            <td>{{ mono.booklet_year }}</td>
            <td>{{ mono.book_year }}</td>
            <td><center>{% if mono.doi %}<a href="https://nakala.fr/{{mono.doi}}" target="_blank">[DOI]</a>{% endif %}</center></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!--<table class="table table-xs table-borderless m-auto">
    <thead>
        <tr>
            <th>N°</th>
            <th>Titre</th>
            <th>Enquête</th>
            <th>Fascicule</th>
            <th>Livre</th>
        </tr>
    </thead>
    <tbody>
        {% for mono in corpus %}
        <tr>
            <td>{{ mono.public_id }}</td>
            <td><a href="{{ url_for('main.txt_mono', slug=mono.slug) }}">{{ mono.title }}</a></td>
            <td>{{ mono.survey_year }}</td>
            <td>{{ mono.booklet_year }}</td>
            <td>{{ mono.book_year }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>-->
<script type="text/javascript">
    $(document).ready( function () {
        $('#myTable').DataTable({
            paging: false,
            responsive: true,
            select: true,
            order: [[3, 'asc']]
        });
    } );</script>
{% endblock %}