{% extends "conteneur.html" %}
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" crossorigin=""/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.zoomhome.css') }}"/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js" crossorigin=""></script>
<script src="{{ url_for('static', filename='js/leaflet.zoomhome.min.js') }}"></script>
{% endblock %}
{% block corps %}
<div class="margin-page">
 <div class="josefin-sans-text">
    <p>Ce site présente les résultats d'un travail d'édition, d'encodage scientifique et d'analyse des monographies des Ouvriers des deux mondes, réalisé dans le cadre du programme ANR « Time Us ». Les monographies sont des recueils d'enquêtes sociologiques publiés sous l'égide de Frédéric Le Play (†1882) et de la Société internationale des études pratiques d'économie sociale de 1857 à 1913, deux fascicules supplémentaires paraissant en 1930. / <a style="text-decoration: none;" href="{{ url_for('main.about') }}" title="À propos de ce site">En savoir plus</a> / <a style="text-decoration: none;" href="{{ url_for('main.monographies') }}" title="Corpus des monographies">Accéder au corpus</a> / <a style="text-decoration: none;" href="{{ url_for('main.search') }}" title="Recherche">Faire une recherche</a>.</p>
</div>
<div style="margin: 0em auto 0 auto; width: 100%;">
        <div id="my-map"></div>
        <p class="josefin-sans-text">Cette carte situe les terrains d'enquête des monographies. Les deux mondes mentionnés dans le titre&#160;&#8211;&#160;sans doute inspiré par la revue du même nom, fondée en 1829&#160;&#8211; sont les deux rives de l'Atlantique ou de la Méditerranée.</p>
    </div>
</div>
<script>
window.onload = function () {
    var map = L.map('my-map', {
        zoomControl: false,
        tap: false,
    });
    L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> | Localisation des monographies des <i>Ouvriers des deux mondes</i> &copy; <a href="{{ url_for('main.terms') }}">CNRS ETALAB 2.0</a>'
    }).addTo(map);

    var layer = L.markerClusterGroup({
        maxClusterRadius: 50,
        singleMarkerMode: true,
        iconCreateFunction: function (cluster) {
            var childCount = cluster.getChildCount();
            var c = ' marker-cluster-small';
            return new L.DivIcon({ html: '<div><span>' + childCount + '</span></div>', className: 'marker-cluster' + c, iconSize: new L.Point(40, 40) });
        },
    });

{% for mono in corpus %}
    {% if mono.lat %}
    layer.addLayer(
        L.marker([{{ mono.lat }}, {{ mono.lng }}]).bindPopup({{ mono.tooltip() | tojson }}, {minWidth: 400, maxWidth: 400})
    );
    {% endif %}
{% endfor %}

    layer.addTo(map);
    map.fitBounds(layer.getBounds());
    map.addControl(L.Control.zoomHome({
        zoomHomeIcon: 'globe',
        zoomHomeTitle: 'Réinitialier la vue'
    }));
};
</script>
{% endblock %}
