{% extends "conteneur.html" %}
{% block titre %}{# Explicitely disables title #}{% endblock %}
{% block corps %}

{{ content | safe }}
<script>
    $(document).ready(function() {
        $("body").css('margin-bottom', $('#monofooter').outerHeight());
    });
</script>

<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-bottom" id="monofooter">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#monoNavbarContent" aria-controls="monoNavbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="monoNavbarContent">
            <div class="container-fluid">
                <ul class="navbar-nav nav-justified me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        {% if prev %}
                        <a class="nav-link" href="{{ url_for('main.txt_mono', slug=prev.slug) }}">&laquo; N°{{ prev.public_id }} &#8212; {{ prev.short_title }} &laquo;</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <p class="navbar-text mb-0">
                            <strong>N°{{ monography.public_id }} &#8212; {{ monography.short_title }}</strong><br>
                            <small><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                            </svg> <a class="nav-link inline" href="{{ url_for('main.download_xml', slug=monography.slug) }}">XML</a>, <a class="nav-link inline" href="{{ url_for('main.download_pdf', slug=monography.slug) }}">PDF</a></small>
                        </p>
                    </li>
                    <li class="nav-item">
                        {% if next %}
                        <a class="nav-link" href="{{ url_for('main.txt_mono', slug=next.slug) }}">&raquo; N°{{ next.public_id }} &#8212; {{ next.short_title }} &raquo;</a>
                        {% endif %}
                    </li>
                    <li>
                        <p style="font-size: 11px;"><a href="#">Haut de page &#x2191</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
{% endblock %}