{% extends "conteneur.html" %}
{% block corps %}

{% if results.get_object_list() %}
  <div>
    {% for item in results.get_object_list() %}
    <h3><a href="{{url_for('main.txt_mono', slug=item.monography.slug, _anchor=type.label + '-' + subtype.label) }}">
      N°{{ item.monography.public_id }} - {{ item.monography.title }}
    </a></h3>
    <div class="container"><blockquote>{{ item.content | safe }}</blockquote></div>
    <hr>
    {% endfor %}
  </div>
  <script>
    $(document).ready(function () {
      $("blockquote").each(function (idx) {
        var paragraphs = $(this).find("p");
        if (paragraphs.length > 5) {
          var hidden_paragraphs = paragraphs.slice(4);  // We select 1 paragraph less to avoid having "Display 1 more"
          hidden_paragraphs.hide();
          $(this).append('<p><button type="button" class="btn btn-outline-secondary">Afficher ' + hidden_paragraphs.length + ' paragraphes supplémentaires</button></p>');
          var btn = $(this).find('button');
          btn.bind('click', function () {
            hidden_paragraphs.slideToggle();
            if (btn.text().startsWith('Afficher')) {
              btn.text('Masquer les ' + hidden_paragraphs.length + ' derniers paragraphes');
            } else {
              btn.text('Afficher ' + hidden_paragraphs.length + ' paragraphes supplémentaires');
            }
          })
        }
      });
    });
  </script>

  <nav aria-label="Pages des résultats de la recherche">
    <ul class="pagination pagination-sm justify-content-center">
      <li class="page-item{% if results.get_page() == 1 %} disabled{% endif %}">
        <a class="page-link text-center" href="{{ url_for('main.results', where=where, term=term, page=1) }}">Première page</a>
      </li>
      <li class="page-item{% if results.get_page() == 1 %} disabled{% endif %}">
        <a class="page-link text-center" href="{{ url_for('main.results', where=where, term=term, page=results.get_page() - 1) }}">
          Page précédente
        </a>
      </li>
      <li class="page-item disabled">
        <span class="page-link text-center">Page {{ results.get_page() }} sur {{ results.get_page_count() }}</span>
      </li>
      <li class="page-item {% if results.get_page() == results.get_page_count() %} disabled{% endif %}">
        <a class="page-link text-center" href="{{ url_for('main.results', where=where, term=term, page=results.get_page() + 1) }}">
          Page suivante
        </a>
      </li>
      <li class="page-item {% if results.get_page() == results.get_page_count() %} disabled{% endif %}">
        <a class="page-link text-center" href="{{ url_for('main.results', where=where, term=term, page=results.get_page_count()) }}">
          Dernière page
        </a>
      </li>
    </ul>
  </nav>
{% else %}
  <p class="lead">Cette recherche n'a donné aucun résultat.</p>
{% endif %}
{% endblock %}