{% extends "conteneur.html" %}
{% block corps %}

{% if results.get_object_list() %}
  <div>
    {% for item in results.get_object_list() %}
    <h3><a href="{{url_for('main.txt_mono', slug=item.slug) }}">
      N°{{ item.public_id }} - {{ item.hi_title | safe }}
    </a></h3>
    <div class="container"><blockquote><p>{{ item.hi_content | safe }}</p></blockquote></div>
    <hr>
    {% endfor %}
  </div>

  <nav aria-label="Pages des résultats de la recherche">
    <ul class="pagination pagination-sm justify-content-center">
      <li class="page-item{% if results.get_page() == 1 %} disabled{% endif %}">
        <a class="page-link text-center" href="{{ url_for('main.searchfts', term=term, page=1) }}">Première page</a>
      </li>
      <li class="page-item{% if results.get_page() == 1 %} disabled{% endif %}">
        <a class="page-link text-center" href="{{ url_for('main.searchfts', term=term, page=results.get_page() - 1) }}">
          Page précédente
        </a>
      </li>
      <li class="page-item disabled">
        <span class="page-link text-center">Page {{ results.get_page() }} sur {{ results.get_page_count() }}</span>
      </li>
      <li class="page-item {% if results.get_page() == results.get_page_count() %} disabled{% endif %}">
        <a class="page-link text-center" href="{{ url_for('main.searchfts', term=term, page=results.get_page() + 1) }}">
          Page suivante
        </a>
      </li>
      <li class="page-item {% if results.get_page() == results.get_page_count() %} disabled{% endif %}">
        <a class="page-link text-center" href="{{ url_for('main.searchfts', term=term, page=results.get_page_count()) }}">
          Dernière page
        </a>
      </li>
    </ul>
  </nav>
{% else %}
  <p class="lead">Cette recherche n'a donné aucun résultat.</p>
{% endif %}
{% endblock %}