{% extends "conteneur.html" %}
{% block corps %}

<div class="container mb-3">
    <p style="text-align: justify; margin: 0 0 0.5em 0;">
        Les auteurs des monographies des <i>Ouvriers des deux mondes</i> ont rédigé des observations sur les travaux des membres de la famille (section n<sup>o</sup>8 &#171;&#8239;Travaux et industries&#8239;&#187;) et constitué des inventaires chiffrés de leurs propriétés mobilières et immobilières (sections n<sup>o</sup>6 &#171;&#8239;Propriétés&#8239;&#187; et n<sup>o</sup>10 &#171;&#8239;Habitation, mobilier et vêtements&#8239;&#187;).</p>
    <p style="text-align: justify; margin: 0 0 2.5em 0;">
        Cette page permet d'effectuer une recherche plein texte dans l'ensemble du corpus, ou de choisir une catégorie des paragraphes n<sup>os</sup>6, 8 et 10 et d'afficher le texte qui s'y rapporte dans l'ensemble des monographies concernées.
    </p>

    <p style="margin: 1.75em 0 0 0;">Une recherche est possible dans toutes les monographies.</p>
    <details style="margin: 0 0 1.25em 0;">
        <summary>Cliquer pour afficher les opérateurs de recherche avancée.</summary>
        <ul>
        <li>Un ou plusieurs mots-clés: <mark>compagnons paris</mark> retournera les monographies qui contiennent au moins <em>compagnons</em> ou <em>paris</em></li>
        <li>Une ou plusieurs expressions: <mark>"prix de revient"</mark> retournera les monographies qui contiennent exactement le terme <em>prix de revient</em></li>
        <li>L'opérateur NEAR permet de rechercher des mots-clés ou expressions proches dans les textes: <mark>NEAR(prix maison)</mark> retournera les monographies où les mots <em>prix</em> et <em>maison</em> sont proches. Il est possible de mettre une distance maximale; pour que les mots-clés soient à moins de 15 mots, on peut utiliser <mark>NEAR(prix maison, 15)</mark></li>
        <li>L'opérateur NOT permet d'exclure des mots-clés ou expressions : <mark>agriculteur NOT paris</mark> retournera les monographies qui contiennent <em>agriculteur</em> mais pas <em>paris</em> </li>
        <li>L'opérateur AND recherche tous les mots-clés ou expressions : <mark>agriculteur AND paris</mark> retournera les monographies qui contiennent <em>agriculteur</em> et <em>paris</em></li>
        <li>L'opérateur OR recherche au moins un des mots-clés ou expressions : <mark>agriculteur OR éleveur</mark> retournera les monographies qui contiennent <em>agriculteur</em> ou <em>éleveur</em></li>
        <li>Il est possible de combiner ces opérateurs : <mark>(agriculteur OR éleveur) AND paris</mark> retournera les monographies contenant soit <em>agriculteur</em>, soit <em>éleveur</em>, et <em>paris</em></li>
        <li>A noter que les mots-clés et expressions sont insensibles à la casse, mais que les opérateurs doivent être écrits en majuscules</li>
        <li>A noter également que l'apostrophe (<mark>'</mark>) ne peut apparaître que dans des expressions (<mark>"prud'hommes"</mark> et non <mark>prud'hommes</mark>). Dans les cas simples, les guillemets seront automatiquement ajoutés.</li>
    </ul>
    </details>

        <div class="container mb-3" style="margin: 0 0 1em 0;">
    <span style="color: #e73e01;"><label for="par_10-input">Recherche plein texte</label></span>
    <div class="row">
    <form class="input-group" action="{{ url_for('main.searchfts') }}" method="GET">
        <div class="col" style="padding-right: 1em;">
        <input class="form-control" type="search" placeholder="Rechercher" aria-label="Rechercher" name="term" id="par_10-input">
    </div>
        <div class="col">
            <button class="btn btn-outline-success" type="submit" title="Recherche dans toutes les monographies">Rechercher</button>
        </div>
    </form>
</div>
</div>

    
    <p style="margin: 1.75em 0 1.25em 0;">
        Les sections 6 et 10 contiennent les inventaires des propriétés mobilières et immobilières de la famille enquêtée, ainsi que leurs estimations. 
    </p>
    <div class="container mb-3" style="margin: 0 0 1em 0;">
        <form action="{{url_for('main.results', where='proprietes')}}" method="GET">
            <span style="color: #e73e01;"><label for="proprietes-select">Recherche dans les inventaires des propriétés</label></span>
            <div class="row">
                <div class="col">
                    <select class="form-select" id="proprietes-select" name="term" type="search" >
                        {% for item in subtypes['proprietes'] %}
                        <option value="{{item.id}}">{{item.label.replace("_", " ").capitalize()}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <button class="btn btn-outline-secondary" type="submit">Rechercher</button>
                </div>
            </div>
        </form>
    </div>

    <div class="container" style="margin: 0 0 2em 0;">
        <form action="{{url_for('main.results', where='par_10')}}" method="GET">
            <span style="color: #e73e01;"><label for="par_10-select">Recherche dans les inventaires de l'habitation, du mobilier et des vêtements</label></span>
            <div class="row">
                <div class="col">
                    <select class="form-select" id="par_10-select" name="term" type="search" >
                        {% for item in subtypes['par_10'] %}
                        <option value="{{item.id}}">{{item.label.replace("_", " ").capitalize()}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <button class="btn btn-outline-secondary" type="submit">Rechercher</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <p style="margin: 0 0 1.25em 0;">
        La section 8 contient les observations de l'enquêteur sur les travaux et les industries menés par les membres de la famille enquêtée.
    </p>
    <div class="container" style="margin: 0 0 1em 0;">
        <form action="{{url_for('main.results', where='travaux')}}" method="GET">
            <span style="color: #e73e01;"><label for="travaux-select">Recherche dans les descriptions des travaux entrepris par les membres de la famille</label></span>
            <div class="row">
                <div class="col">
                    <select class="form-select" id="travaux-select" name="term" type="search" >
                        {% for item in subtypes['travaux'] %}
                        <option value="{{item.id}}">{{item.label.replace("_", " ").capitalize()}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <button class="btn btn-outline-secondary" type="submit">Rechercher</button>
                </div>
            </div>
        </form>
    </div>

    <div class="container">
        <form action="{{url_for('main.results', where='industries')}}" method="GET">
            <span style="color: #e73e01;"><label for="industries-select">Recherche dans les descriptions des industries entreprises par la famille</label></span>
            <div class="row">
                <div class="col">
                    <select class="form-select" id="industries-select" name="term" type="search" >
                        {% for item in subtypes['industries'] %}
                        <option value="{{item.id}}">{{item.label.replace("_", " ").capitalize()}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <button class="btn btn-outline-secondary" type="submit">Rechercher</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}