{% extends "conteneur.html" %}
{% block corps %}

<div class="container mb-3">
    <p class="lead">
        Cette fonctionnalité permet d'effectuer une recherche dans toutes les monographies à l'aide de requêtes avancées.
    </p>
    <div class="container mb-3">
        <form action="{{url_for('main.searchfts')}}" method="GET">
            <span><label for="search-term">Recherche dans toutes les monographies</label></span>
            <div class="row">
                <div class="col">
                    <div class="input-group has-validation">
                        <input class="form-control {{ 'is-invalid' if error else '' }}" id="search-term" name="term" value="{{ term }}">
                        <div class="invalid-feedback">
                        La requête est invalide : {{ error }}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <button class="btn btn-outline-secondary" type="submit">Rechercher</button>
                </div>
            </div>
        </form>
    </div>
    <p>Les requêtes permettent d'effectuer des recherches avancées :</p>
    <ul>
        <li>Un ou plusieurs mots-clés: <mark>compagnons paris</mark> retournera les monographies qui contiennent au moins <em>compagnons</em> ou <em>paris</em></li>
        <li>Une ou plusieurs expressions: <mark>"prix de revient"</mark> retournera les monographies qui contiennent exactement le terme <em>prix de revient</em></li>
        <li>L'opérateur NEAR permet de rechercher des mots-clés ou expressions proches dans les textes: <mark>NEAR(prix maison)</mark> retournera les monographies où les mots <em>prix</em> et <em>maison</em> sont proches. Il est possible de mettre une distance maximale; pour que les mots-clés soient à moins de 15 mots, on peut utiliser <mark>NEAR(prix maison, 15)</mark></li>
        <li>L'opérateur NOT permet d'exclure des mots-clés ou expressions : <mark>agriculteur NOT paris</mark> retournera les monographies qui contiennent <em>agriculteur</em> mais pas <em>paris</em> </li>
        <li>L'opérateur AND recherche tous les mots-clés ou expressions : <mark>agriculteur AND paris</mark> retournera les monographies qui contiennent <em>agriculteur</em> et <em>paris</em></li>
        <li>L'opérateur OR recherche au moins un des mots-clés ou expressions : <mark>agriculteur OR éleveur</mark> retournera les monographies qui contiennent <em>agriculteur</em> ou <em>éleveur</em></li>
        <li>Il est possible de combiner ces opérateurs : <mark>(agriculteur OR éleveur) AND paris</mark> retournera les monographies contenant soit <em>agriculteur</em>, soit <em>éleveur</em>, et <em>paris</em></li>
        <li>A noter que les mots-clés et expressions sont insensibles à la casse, mais que les opérateurs doivent être écrits en majuscules</li>
        <li>A noter également que l'apostrophe (<mark>'</mark>) ne peut apparaître que dans des expressions (<mark>"prud'hommes"</mark> et non <mark>prud'hommes</mark>). Dans les cas simples, les guillemets seront automatiquement ajoutés.</li>
    </ul>
</div>
{% endblock %}