{% extends "conteneur.html" %}
{% block corps %}

<p><em>Dernière mise à jour de la page : 31 octobre 2023.</em></p>
<div>
<p>Le site &#171;&#8239;Ouvriers des deux mondes&#8239;&#187; (ouvriersdeuxmondes.huma-num.fr) est édité par le Centre national de la recherche scientifique (CNRS), 3, rue Michel-Ange 75794 Paris cedex 16 (tél. 01 44 96 40 00) et a pour directeur de publication Antoine Petit, président-directeur général du CNRS. Il est hébergé par l'Infrastructure de recherche &#171;&#8239;étoile&#8239;&#187; (IR*) Huma-Num, Bâtiment de recherche Nord, 14, cours des humanités, 93322 Aubervilliers cedex.</p>
<p>Le responsable de la rédaction est le Centre de recherches historiques (CRH, tél. 01 49 54 24 42, gestion.sourcesetdonnees [at] ehess [.] fr), unité mixte de recherche (UMR) 8558 du CNRS et de l'École des hautes études en sciences sociales (EHESS), représenté par sa directrice Dinah Ribard et son directeur Raphaël Morera et situé à l'EHESS, 54, boulevard Raspail, 75006 Paris.</p>
</div>
<hr>
<div>
<h2 style="color: #e73e01;">Réalisation du site</h2>
<p>Le site &#171;&#8239;Ouvriers des deux mondes&#8239;&#187; (ouvriersdeuxmondes.huma-num.fr) est réalisé sous la direction scientifique d'Anne Lhuissier et de Stéphane Baciocchi, par Jean-Damien Généro et la société Oslandia, dans le cadre du programme de recherche public &#171;&#8239;Ouvriers des deux mondes&#8239;&#187;.</p>
<p>Outre le Centre de recherches historiques, les partenaires du programme de recherche &#171;&#8239;Ouvriers des deux mondes&#8239;&#187; sont ALMAnaCH (équipe-projet Inria) et le Centre Maurice Halbwachs (UMR 8097/ CNRS-EHESS-ENS, USC 1429 INRAE).</p>
<p>Le programme de recherche public &#171;&#8239;Ouvriers des deux mondes&#8239;&#187; a bénéficié des financements accordés par l'Agence nationale de la recherche dans le cadre de son programme &#171;&#8239;TIME US&#8239;&#187; (ANR-16-CE26-0018).</p>
</div>
<hr>
<div>
<h2 style="color: #e73e01;">Propriété intellectuelle et statut juridique de la présente édition et de ses contenus</h2>
<p>Les contenus présentés sur le site &#171;&#8239;Ouvriers des deux mondes&#8239;&#187; (ouvriersdeuxmondes.huma-num.fr) sont couverts par le code de la propriété intellectuelle (CPI).</p>
<p>Le corpus de monographies publié sur le site &#171;&#8239;Ouvriers des deux mondes&#8239;&#187; (ouvriersdeuxmondes.huma-num.fr) est issu de volumes papier placés dans le domaine public.</p>
<p>Les personnes mentionnées sur le site &#171;&#8239;Ouvriers des deux mondes&#8239;&#187; (ouvriersdeuxmondes.huma-num.fr) peuvent exercer leurs droits auprès du délégué à la protection des données. Les modalités sont détaillées au paragraphe &#171;&#8239;données personnelles&#8239;&#187; des présentes mentions légales.</p>
<p>L'intégralité des textes transcrits et de l'appareil critique sont publiés sur le site &#171;&#8239;Ouvriers des deux mondes&#8239;&#187; (ouvriersdeuxmondes.huma-num.fr) sous <a href="https://www.etalab.gouv.fr/licence-ouverte-open-licence" title="Consulter la licence ouverte ETALAB 2">Licence Ouverte V 2.0</a>.</p>
<p>Pour toute autre demande : gestion.sourcesetdonnees [at] ehess [.] fr.</p>
</div>
<hr>
<div>
<h2 style="color: #e73e01;">Crédits photographiques et autres mentions relatives aux droits d'auteur</h2>
<p>Toutes les numérisations sont mises à disposition librement par Internet Archive (<a href="https://archive.org/" target="_blank" title="lien Internet Archive">https://archive.org/</a>) ou le site Gallica (<a href="https://gallica.bnf.fr/" target="_blank" title="lien Gallica">https://gallica.bnf.fr/</a>) de la Bibliothèque nationale de France.</p>
<p>Les logos présents dans le footer sont mis à disposition par leurs auteurs sur leurs sites institutionnels.</p>
<p>Les crédits photographiques et autres mentions relatives aux droits d'auteur, tels que spécifiés sur le site &#171;&#8239;Ouvriers des deux mondes&#8239;&#187; (ouvriersdeuxmondes.huma-num.fr), doivent être respectés.</p>
</div>
<hr>
<div>
<h2 style="color: #e73e01;">Liens</h2>
<p>Vos données à caractère personnel peuvent être traitées par l'Éditeur lorsque vous utilisez l'adresse mail de contact (indiquée sur la page <em>Contact</em>), conformément au Règlement (UE) 2016/679 et à la Loi n° 78-17.</p>
<ul>
      <li>Finalité : Instruction de la demande d'information et gestion du programme de recherche &#171;&#8239;Ouvriers des deux mondes&#8239;&#187;.</li>
      <li>Responsable de traitement : Centre national de la recherche scientifique (CNRS), représentée par son président directeur général Monsieur Petit et sis au 3, rue Michel-Ange 75794 Paris cedex 16.</li>
      <li>Responsables scientifiques du projet : Anne Lhuissier et Stéphane Baciocchi (gestion.sourcesetdonnees [at] ehess [.] fr).</li>
      <li>Base légale : Le traitement de données personnelles est basé sur le consentement des personnes concernées.
      </li>
      <li>Catégorie de données traitées : Nom, Prénom, Adresse email.</li>
      <li>Personnes concernées : Les utilisateurs de l'adresse mail de contact.</li>
      <li>Source des données : Les données sont collectées directement auprès des personnes concernées et inscrites par elles dans les emails qu'elles envoient au programme de recherche &#171;&#8239;Ouvriers des deux mondes&#8239;&#187 <em>via</em> l'adresse mail de contact.</li>
      <li>Caractère obligatoire du recueil des données : Les données avec un astérisque sont obligatoires pour le traitement de la demande qui, à défaut, ne pourra pas être instruite.</li>
      <li>Destinataires des données : Chercheurs et collaborateurs du programme &#171;&#8239;Ouvriers des deux mondes&#8239;&#187.</li>
      <li>Durée de conservation des données : Les données sont conservées pendant 6 mois après le traitement de la demande. À l'issue de ce délai, les données seront supprimées.</li>
</ul>
<p>Vous disposez, dans les limites et conditions autorisées par la réglementation en vigueur, d'un droit d'accès, de rectification, d'effacement et à la portabilité des données personnelles qui vous concernent. Vous pouvez à tout moment retirer votre consentement. Vous disposez également d'un droit d'opposition ou à la limitation du traitement qui vous concerne. Enfin, vous pouvez définir le sort post-mortem que vous souhaitez donner à vos données personnelles. Pour en savoir plus sur vos droits, vous pouvez consulter la <a href="https://www.cnil.fr/fr/les-droits-pour-maitriser-vos-donnees-personnelles" target="_blank" alt="lien CNIL">fiche pratique de la CNIL</a>.</p>
<p>Pour exercer vos droits, vous pouvez contacter le responsable scientifique du projet par email : &#171;&#8239;gestion.sourcesetdonnees [at] ehess [.] fr&#8239;&#187; ; ou le délégué à la protection des données de l'EHESS par courrier : &#171;&#8239;DPO&#8239;&#8212; École des hautes études en sciences sociales&#8239;&#8212; 54, boulevard Raspail&#8239;&#8212; 75006 Paris&#8239;&#187; ou par email à l'adresse &#171;&#8239;dpo [at] ehess [.] fr&#8239;&#187;.</p>
<p>Vous devez impérativement justifier de votre identité en indiquant clairement vos nom et prénoms, l'adresse à laquelle vous souhaitez que la réponse vous soit envoyée, signer votre demande. Nous vous conseillons de joindre une copie de votre pièce d'identité afin de faciliter la prise en compte de votre demande.</p>
<p>En outre, si vous n'êtes pas satisfait du traitement de votre demande concernant le traitement de vos données personnelles, vous avez la possibilité de saisir la CNIL : &#171;&#8239;CNIL&#8239;&#8212; 3, place de Fontenoy&#8239;&#8212; TSA 80715&#8239;&#8212; 75334 PARIS CEDEX 07&#8239;&#187;, ou <a href="www.cnil.fr" target="_blank" title="lien CNIL">www.cnil.fr</a>.</p>
</div>
<hr>
<div>
<h2 style="color: #e73e01;">Témoins de connexion ou cookies</h2>
<p>Un cookie désigne un fichier texte qu'un serveur web (le site web) dépose sur votre terminal (sur le disque dur de votre ordinateur ou smartphone, ou dans la mémoire de votre navigateur) lorsque vous visitez et utilisez des sites web et des services en ligne. Il contient plusieurs données : le nom du serveur qui l'a déposé, un identifiant sous forme de numéro unique, éventuellement une date d'expiration. Il permet de reconnaître votre terminal lorsque vous revenez sur un site web. En effet, ce n'est pas vous qui êtes reconnu mais le terminal depuis lequel vous visitez un site web. Vous disposez de différents moyens pour gérer les cookies. Vous pouvez à tout moment choisir de désactiver tout ou partie des cookies.</p>
<p>Le site &#171;&#8239;Ouvriers des deux mondes&#8239;&#187; (ouvriersdeuxmondes.huma-num.fr) dépose uniquement des cookies nécessaires au fonctionnement du site. Ces cookies permettent au site de fonctionner de manière optimale.</p>
<p>Vous pouvez vous y opposer et les supprimer en utilisant les paramètres de votre navigateur, cependant votre expérience utilisateur risque d'être dégradée. Pour en savoir plus, vous pouvez consulter la <a href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser" target="_blank" title="lien CNIL">fiche pratique sur le site de la CNIL</a>.</p>
</div>
<hr>
<div>
<h2 style="color: #e73e01;">Avertissement</h2>
<p>Les informations figurant sur le site &#171;&#8239;Ouvriers des deux mondes&#8239;&#187; (ouvriersdeuxmondes.huma-num.fr) ou accessibles par ce site proviennent de sources considérées comme étant fiables. Toutefois, ces informations peuvent contenir des inexactitudes techniques et des erreurs typographiques.
</p>
<p>Les informations ou documents disponibles sur le site &#171;&#8239;Ouvriers des deux mondes&#8239;&#187; (ouvriersdeuxmondes.huma-num.fr) sont susceptibles d'être modifiés à tout moment, et peuvent avoir fait l'objet de mises à jour. En particulier, ils peuvent avoir fait l'objet d'une mise à jour, entre le moment de leur téléchargement et celui où l'utilisateur en prend connaissance.</p>
<p>L'utilisation des informations ou documents disponibles sur le site &#171;&#8239;Ouvriers des deux mondes&#8239;&#187; (ouvriersdeuxmondes.huma-num.fr) se fait sous l'entière et seule responsabilité de l'utilisateur, qui assume la totalité des conséquences pouvant en découler. Le Centre national de la recherche scientifique, le Centre de recherches historiques et les autres partenaires du programme de recherche &#171;&#8239;Ouvriers des deux mondes&#8239;&#187; ne pourront en aucun cas être tenus responsables de tout dommage de quelque nature qu'il soit résultant de l'interprétation ou de l'utilisation des informations ou documents disponibles sur le site &#171;&#8239;Ouvriers des deux mondes&#8239;&#187; (ouvriersdeuxmondes.huma-num.fr).</p>
</div>
<hr>
<div>
<h2 style="color: #e73e01;">Droit applicable</h2>
<p>L'utilisation du site &#171;&#8239;Ouvriers des deux mondes&#8239;&#187; (ouvriersdeuxmondes.huma-num.fr) est régie par le droit français, quel que soit le lieu d'utilisation. </p>
<p>En cas de contestation éventuelle, et après l'échec de toute tentative de recherche d'une solution amiable, les tribunaux français seront seuls compétents pour connaître de ce litige.</p>
</div>
<hr>
<div>
<h2 style="color: #e73e01;">Droit de réponse</h2>
<p>Le droit de réponse peut être exercé auprès de l'École des hautes études en sciences sociales : &#171;&#8239;service.juridique [at] ehess [.] fr&#8239;&#187;.</p>
</div>
<p style="font-style: italic;">Cette notice d’information est susceptible d’être modifiée. La date de la dernière mise à jour est indiquée au début de la page.</p>

{% endblock %}