{% extends "conteneur.html" %}
{% block corps %}

{% macro display(value) -%}
    {% if value -%}{{ value -}}{% else -%}<em>Inconnu</em>{% endif -%}
{% endmacro -%}

<nav aria-label="Visibilité des informations">
    <ul class="list-inline text-center">
        <li class="list-inline-item"><button class="btn btn-link" id="foldall-link" type="button">Masquer tous les ouvriers des monographies</button></li>
        <li class="list-inline-item"><button class="btn btn-link" id="unfoldall-link" type="button">Afficher tous les ouvriers des monographies</button></li>
    </ul>
</nav>

<table class="table table-xs m-auto text-start">
    <tbody>
        {% for mono in corpus %}
        <tr>
            <td>{{ mono.public_id }}</td>
            <td><a data-bs-toggle="collapse" href="#mono_{{ mono.id }}" role="button" aria-expanded="false" aria-controls="mono_{{ mono.id }}">{{ mono.short_title }} ({{ mono.year }})</a></td>
        </tr>
        <tr>
            <td colspan="2">
                <ul class="collapse" id="mono_{{ mono.id }}">
                    {% for worker in mono.workers %}
                    <li>
                        <a data-bs-toggle="collapse" href="#worker_{{ worker.id }}" role="button" aria-expanded="false" aria-controls="worker_{{ worker.id }}">{{ worker.firstname }} {{ worker.lastname }}, {{ worker.quality }} (n°{{ worker.private_id }})</a>
                        <dl class="row g-0 collapse" id="worker_{{ worker.id }}">
                            <dt class="col-6">Année de référence pour les calculs</dt>
                            <dd class="col-6 m-0">{{ worker.reference_year }}</dd>
                            <dt class="col-6">Année de naissance</dt>
                            <dd class="col-6 m-0">{{ display(worker.birth_year) }} ({{ display(worker.age) }})</dd>
                            <dt class="col-6">Lieu de naissance</dt>
                            <dd class="col-6 m-0">{{ display(worker.birth_place) }}</dd>
                            <dt class="col-6">Information sur le mariage</dt>
                            <dd class="col-6 m-0">{{ display(worker.married) }} ({{ display(worker.married_year) }})</dd>
                        </dl>
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        /* collapse doesn't work very well with row, so we manage the visibility of the row ourselves */
        $("ul.collapse").parent().hide();
        $("ul.collapse").on('show.bs.collapse', function (e) {
            /* event is triggered even on dl, so we have to make sure we're working on the list to show/hide the row */
            $(e.target).filter('ul.collapse').parent().show();
        });
        $("ul.collapse").on('hidden.bs.collapse', function (e) {
            $(e.target).filter('ul.collapse').parent().hide();
        });
        $('ul.collapse').each(function () {
            /* TODO: not sure why we have to create the instances... */
            var bsCollapse = bootstrap.Collapse.getOrCreateInstance(this, {toggle: false});
            bsCollapse.hide();
        });
        $("#foldall-link").on('click', function () {
            $('ul.collapse').each(function () {
                var bsCollapse = bootstrap.Collapse.getInstance(this);
                bsCollapse.hide();
            });
        });
        $("#unfoldall-link").on('click', function () {
            $('ul.collapse').each(function () {
                var bsCollapse = bootstrap.Collapse.getInstance(this);
                bsCollapse.show();
            });
        });
    });
</script>
{% endblock %}