{% extends "conteneur.html" %}
{% block corps %}

{% macro display(value) -%}
    {% if value -%}{{ value -}}{% else -%}<em>Inconnu</em>{% endif -%}
{% endmacro -%}

<nav aria-label="Visibilité des informations">
    <ul class="list-inline text-center">
        <li class="list-inline-item"><button class="btn btn-link" id="foldall-link" type="button">Masquer tous les ouvriers des monographies</button></li>
        <li class="list-inline-item"><button class="btn btn-link" id="unfoldall-link" type="button">Afficher tous les ouvriers des monographies</button></li>
    </ul>
</nav>

{% for mono in corpus %}
    <h3 class="fs-5"><a href="{{url_for('main.txt_mono', slug=mono.slug) }}">
        N°{{ mono.public_id }} - {{ mono.title }}
    </a></h3>
    <div class="container"><blockquote class="blockquote text-secondary fs-6">
        {% for worker in mono.workers %}
        <div class="worker">
            <a data-bs-toggle="collapse" href="#worker_{{ worker.id }}" role="button" aria-expanded="false" aria-controls="worker_{{ worker.id }}">{{ worker.firstname }} {{ worker.lastname }}, {{ worker.quality }}</a>
            <div class="container collapse" id="worker_{{ worker.id }}">
                <dl class="row g-0">
                    <dt class="col-6">Année de référence pour les calculs</dt>
                    <dd class="col-6 m-0">{{ worker.reference_year }}</dd>
                    <dt class="col-6">Année de naissance</dt>
                    <dd class="col-6 m-0">{{ display(worker.birth_year) }} ({{ display(worker.age) }} ans)</dd>
                    <dt class="col-6">Lieu de naissance</dt>
                    <dd class="col-6 m-0">{{ display(worker.birth_place) }}</dd>
                    <dt class="col-6">Information sur le mariage</dt>
                    <dd class="col-6 m-0">{{ display(worker.married) }} ({{ display(worker.married_year) }})</dd>
                </dl>
            </div>
        </div>
        {% endfor %}
    </blockquote></div>
    <hr>
{% endfor %}

<script>
$(document).ready(function () {
    $("blockquote").each(function (idx) {
        var paragraphs = $(this).find("div.worker");
        if (paragraphs.length > 5) {
            $(this).addClass('collapsed');
            var hidden_paragraphs = paragraphs.slice(4);  // We select 1 paragraph less to avoid having "Display 1 more"
            hidden_paragraphs.hide();
            $(this).append('<p><button type="button" class="btn btn-outline-secondary">Afficher ' + hidden_paragraphs.length + ' ouvriers supplémentaires</button></p>');
            var btn = $(this).find('button');
            var $this = $(this);
            btn.bind('click', function () {
                hidden_paragraphs.slideToggle();
                if (btn.text().startsWith('Afficher')) {
                    $this.removeClass('collapsed').addClass('extended');
                btn.text('Masquer les ' + hidden_paragraphs.length + ' derniers ouvriers');
                } else {
                    $this.addClass('collapsed').removeClass('extended');
                btn.text('Afficher ' + hidden_paragraphs.length + ' ouvriers supplémentaires');
                }
            });
        }
    });

    $('div.collapse').each(function () {
        /* TODO: not sure why we have to create the instances... */
        var bsCollapse = bootstrap.Collapse.getOrCreateInstance(this, {toggle: false});
        bsCollapse.hide();
    });
    $("#foldall-link").on('click', function () {
        $('blockquote.extended button').click();
        $('div.collapse').each(function () {
            var bsCollapse = bootstrap.Collapse.getInstance(this);
            bsCollapse.hide();
        });
    });
    $("#unfoldall-link").on('click', function () {
        $('blockquote.collapsed button').click();
        $('div.collapse').each(function () {
            var bsCollapse = bootstrap.Collapse.getInstance(this);
            bsCollapse.show();
        });
    });
});
</script>
{% endblock %}